
[Unit]
Description=Gateway tunnel
After=network.target

[Service]
User=apetrov
Environment="AUTOSSH_GATETIME=0"
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
ExecStart=/bin/sh -c 'cd /home/apetrov && make tunnel'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
